.fl{float: left;}
.fr{float: right;}
ul,li{padding: 0; margin: 0; list-style: none;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.f-red{color: #FF0000; font-weight: bold;}
.znxhead{border: 1px solid #e0e0e0; border-radius: 2px; width: 100%; padding:10px;}
.znxhead-other{}
.tableControl{width: 100%; border: 1px solid #e0e0e0; padding: 10px 20px;}
.znxinfo{font-size: 12px; line-height: 35px; color:#606060;}

.mailtable .el-table__row{cursor: pointer !important;}
.el-table th {background: #f8f8f8;}

.wpmainbox{border: 1px solid #e0e0e0; width: 100%; padding: 10px;float: left;}
.wpmainbox li{width: 100px; float: left; margin: 10px 20px;}
.ft-1{background: url('/static/ysimg/Ft-1.png') no-repeat center; width:100px; height: 80px;}
.ft-2{background: url('/static/ysimg/Ft-2.png') no-repeat center; width:100px; height: 80px;}
.ft-3{background: url('/static/ysimg/Ft-3.png') no-repeat center; width:100px; height: 80px;}
.ft-4{background: url('/static/ysimg/Ft-4.png') no-repeat center; width:100px; height: 80px;}
.ft-5{background: url('/static/ysimg/Ft-5.png') no-repeat center; width:100px; height: 80px;}
.ft-6{background: url('/static/ysimg/Ft-6.png') no-repeat center; width:100px; height: 80px;}
.ft-7{background: url('/static/ysimg/Ft-7.png') no-repeat center; width:100px; height: 80px;}
.filenames{width: 100%; text-align: center;}

.RLBody{width: 100%;border-collapse: collapse;}
.RLBody th,.RLBody td{border: 1px solid #dddddd; width: 80px; height:45px; font-size: 12px;}
.RLBody th{height:32px !important;font-size: 14px;color: #666666;background: #f5f5f5; font-weight: normal;text-align: center;}
.DayTd .DSt1 {width: 18px;    height: 18px;    display: block;    text-align: center;    line-height: 22px;    margin-top: 2px;}


.RLHead{width:100%; height:30px; border:1px solid #dddddd; border-bottom:none;}
.RLHead td{border:0px solid #FFFFFF;  background: #79a6d2; font-size: 12px;}
.RLHead .Htd1{width:30px; text-align:center;}
.RLHead .Htd2{width:100px; color:#FFFFFF; text-align:center;}
.RLHead .Htd2 a{color:#FFFFFF; font-weight:bold;}
.RLHead .Htd3{width:47px; color:#FFFFFF; text-align:center;}
.RLHead .Htd4{width:50px; color:#FFFFFF; text-align:center;}
.RLHead .Htd4 a{color:#FFFFFF; font-weight:bold;}
.Ms{width:43px; height:30px;color:#FFFFFF; display:block; margin-left:2px; line-height:30px;}
.Ms:hover{}
.RLHead .CurMs{font-weight:bold; color:#000000; background: #FFF;}
.Rl-Perv{ width:14px; height:21px;display:block; margin-left:8px;}
.Rl-Next{ width:14px; height:21px;display:block; margin-left:8px;}

.RLBody{width:100%; border:0px dashed #FFFFFF; border-collapse:collapse;}
.RLBody td,.RLBody th{border:1px solid #dddddd; width:80px; height:45px; background:#FFFFFF;}
.RLBody th{font-size:14px; color:#666666; background:#f5f5f5; font-weight:normal; text-align:center; height:32px;}
.RLBody td{vertical-align:top;}
.RLBody .TodayInfo{width:240px;}

.DayN{float:left; width:75px; margin-top:0px; padding-left:5px; color:#999999; text-align:center;}
.DayInfo{float:left; width:75px;margin-top:0px; padding-left:5px; color:#444444;text-align:center;}
.DayInfo span{ color:#df533c; font-weight:bold;}
.RLBody .DayTD{}

.RLBody .CurDay{background:#e0ebf5;}
.CurDay .DayN{color:#ffffff;}
.CurDay .DayInfo{color:#ffffff}
.CurDay .DayInfo span{ color:#ffffff; font-weight:bold;}

.TodayBtn{ height:21px; display:inline-block; border:1px solid #eeeeee; line-height:21px; float:right; clear:both; margin-right:10px; margin-top:10px;}
.TodayBtn:hover{border:1px solid #8dc3cd; color:#e0e0e0;}
.TodayBtn:hover a{ color:#e0e0e0;}
.TodayBtn a{padding:0px 6px; height:22px;padding-left:20px;font-size:12px; color:#24a1b9; cursor:pointer; float:left; }
.TodayNum{width:235px; clear:both; text-align:center; font-size:140px; font-family:"黑体"; color:#3a3a3a; margin: 0 auto;}
.TodayDet{width:235px; clear:both; text-align:center; font-size:20px; font-family:"黑体"; color:#999999; line-height:28px;margin: 0 auto;}

.DayTd span{ color:#444444; line-height:24px; margin-left:4px;}
.DayTd .DSt1{width:18px; height:18px; display:block; text-align:center; line-height:22px; margin-top:2px;}
.DayTd .DSt2{ width:18px; height:18px; display:block; text-align:center; line-height:18px; margin-top:2px; color:#fff; background: #24a1b9; border-radius:50%;}
.DayTd .DSt3{ width:18px; height:18px; display:block; text-align:center; line-height:18px; margin-top:2px;}
.DayTd .DSt4{  width:18px; height:18px; display:block; text-align:center; line-height:18px; margin-top:2px;color:#fff;background: #e94546; border-radius:50%;}
.DayTd b{color:#e94546;}

.InfoList{width:100%; background-color:#ffffff; border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;border-top:0px; padding:10px 0px 0px 0px; float:left; position:relative; z-index:100;-moz-border-radius:4px;-webkit-border-radius:4px; border-radius:4px;margin-top:20px;}
.InfoList td{ background-color:#FFFFFF; border-bottom:1px solid #dddddd; min-height:40px; _height:40px; padding:10px;}
.I-Check{float:left; width:50px;}
.I-Tit{float:left;width:450px; color:#333333;}
.I-Tit a{color:#333333;}
.I-Time{float:right; width:260px;color:#999999;}
.I-Partment{float:right; width:260px; line-height:30px; color:#666666;}
.I-Tit span{color:#999999; line-height:30px;}
.InfoDet{width:760px; float:left;}
.I-Alert{width:710px; margin-left:50px; border-top:1px dashed #dddddd; color:#333333;float:left; display:inline; line-height:30px;}


















