.app-container {
  .row-padding {
    padding: 10px 0;
  }
  .el-dropdown {
    margin-left: 10px;
  }
  .cur-item {
    cursor: pointer;
  }
  .img-item {
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 520px;
  }
  .bookname-span {
    color: #409EFF;
    font-weight: bold;
  }
  .bookname-span:hover {
    cursor: pointer;
  }
}

